# Node.js dependencies
node_modules/
package-lock.json

# DFINITY build artifacts
.dfx/
src/declarations/

# Bundles / build output
dist/

# macOS
.DS_Store

# Windows
Thumbs.db

# Line endings normalization
* text=auto